*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    font-size: 18px;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(0, 11%, 12%);
    font-weight: 700;
    background-color: hsl(185, 75%, 39%);
}

section{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: white;
    border-radius: 5%  ;
    width: 350px;
    overflow: hidden;
    text-align: center;
}
.profile-pic{
    margin: -55px auto 20px auto;
    z-index: 2;
    /*border-radius: 50%;
    border: solid #ffffff 5px;
    overflow: hidden;
    width: 100px;
    height: 100px;*/
}

.profile-pic img {
    border-radius: 100%;
    border: solid #fff 5px;
}

.card-body{
    padding: 0 20px 25px ;
}

.name-age{
    font-size: 1.1rem;
    margin-bottom: 12px;

}
.age, .city, .value-cat{
    font-weight: 400;
    color:  hsl(0, 0%, 59%)

}
.age{
    margin-left: 6px;
}
.city{
    font-size: 0.9rem;
}

.card-footer{
    
    display: flex;
    border-top: solid  hsl(0, 3%, 86%) 1px;
    padding: 0 20px;
}

.card-footer .item{
    flex: 1;
    margin: 25px;
}

.card-footer .item .value{
    font-size: 1.1rem;
    margin-bottom: 6px;
}
.card-footer .item .value-cat{
    font-size: 0.7rem;
    letter-spacing: 1px;
}


.top-img{
    z-index: -1;
}

.circles{
    position:absolute ;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circle-top, .circle-bottom{
    position: absolute;
}
.circle-top{
   right: 50%;
   bottom: 50%;
}
.circle-bottom{
   left: 50%;
   top: 50%;
}
